---
title: EURO Teams History (1960 - 2012)
excerpt: The history of national teams that attended UEFA European Championships from 1960 to 2012
---
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% include open-graph.html %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text|Lato' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="artwork">
    <div id="heading">
        <h1>EURO teams history (1960 - 2012)</h1>
        <p class="ref">
            Source:
            <a href="http://www.uefa.com/uefaeuro">
                UEFA website
            </a>
        </p>
        <p class="legend">
            The name on the top of each column is the nation name. Hover the mouse over each circle to see the correct
            team name and the best result of the team in that year.
        </p>
        <p class="legend" id="color-legend">
        </p>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <input type="radio" id="sort-alphabet" value="alphabet" name="short" checked/> Sort by team name
                    <input type="radio" id="sort-first-year" value="first-year" name="short"/> Sort by first attendance
                </div>
            </div>
        </div>
    </div>
    <div id="chart"></div>

    <div id="content">
        {% include hieule.info.html %}
    </div>
</div>
<script>
    var CONSTANTS = {
        width: 1300,
        height: 480,
        margins: {
            top: 10, right: 10, bottom: 10, left: 10
        },
        cellWidth: 20,
        cellHeight: 20,
        headerHeight: 180,
        headerWidth: 50,
        colors: {
            gridLine: '#ccc',
            cells: [
                {
                    color: '#abd9e9',
                    label: 'Preliminary round'
                },
                {
                    color: '#2c7bb6',
                    label: 'Final tournament'
                },
                {
                    color: '#fdae61',
                    label: 'Semi-finals'
                },
                {
                    color: '#d7191c',
                    label: 'The champion'
                }
            ]
        }
    };


    var svg = d3.select('#chart')
            .append('svg')
            .attr('class', 'euro-teams-history')
            .attr('width', CONSTANTS.width)
            .attr('height', CONSTANTS.height);

    var g = svg.append('g')
            .attr('class', 'euro-teams')
            .attr('width', CONSTANTS.width - CONSTANTS.margins.left - CONSTANTS.margins.right)
            .attr('width', CONSTANTS.height - CONSTANTS.margins.top - CONSTANTS.margins.bottom)
            .attr('transform', "translate(" + (CONSTANTS.margins.left) + "," + (CONSTANTS.margins.top) + ")");

    var cellElement = g.append('g')
            .classed('chart-cells', true);
    var yearsElement = g.append('g')
            .classed('chart-years', true);
    var teamsElement = g.append('g')
            .classed('chart-teams', true);


    var yearsScale, teamsScale;

    var colorLegend = d3.select('#color-legend')
            .selectAll('.color-legend')
            .data(CONSTANTS.colors.cells);

    var colorLegendSpan = colorLegend.enter()
            .append('span')
            .classed('color-legend', true);

    colorLegendSpan.append('span')
            .classed('color-legend-cell', true)
            .style('background-color', function (d) {
                return d.color;
            });
    colorLegendSpan.append('span')
            .classed('color-legend-text', true)
            .text(function (d) {
                return d.label
            });

    d3.json('data.json', function (error, json) {
        var years = [];
        var teams = [];

        var i, len, inserted;

        json.forEach(function (r) {

            // Build the teams and the years array
            inserted = years.findIndex(function (e) {
                return e.year == +r.year;
            });
            if (inserted < 0) {
                years.push({year: +r.year});
            }
            inserted = teams.findIndex(function (e) {
                return e.teamCode == r.teamCode;
            });
            if (inserted < 0) {
                teams.push({team: r.team, teamCode: r.teamCode, firstYear: r.year});
            }
        });

        // Sort these arrays
        years.sort(function (a, b) {
            return a.year - b.year
        });
        teams.sort(function (a, b) {
            return a.team > b.team ? 1 : (a.team < b.team ? -1 : 0);
        });

        yearsScale = cellScale(years.map(function (e) {
            return e.year;
        }), CONSTANTS.headerHeight, CONSTANTS.cellHeight);

        teamsScale = cellScale(teams.map(function (e) {
            return e.teamCode;
        }), CONSTANTS.headerWidth, CONSTANTS.cellWidth);

        drawBoard(teams, years, json);

        d3.select('#sort-alphabet')
                .on('click', function () {
                    teams.sort(function (a, b) {
                        return a.team > b.team ? 1 : (a.team < b.team ? -1 : 0);
                    });
                    teamsScale = cellScale(teams.map(function (e) {
                        return e.teamCode;
                    }), CONSTANTS.headerWidth, CONSTANTS.cellWidth);

                    drawBoard(teams, years, json);
                });

        d3.select('#sort-first-year')
                .on('click', function () {
                    teams.sort(function (a, b) {
                        return a.firstYear - b.firstYear;
                    });
                    teamsScale = cellScale(teams.map(function (e) {
                        return e.teamCode;
                    }), CONSTANTS.headerWidth, CONSTANTS.cellWidth);

                    drawBoard(teams, years, json);
                });
    });

    function drawBoard(teams, years, data) {
        drawCells(data);
        drawYears(years, teams.length);
        drawTeams(teams, years.length);
    }

    function drawCells(data) {
        var selection = cellElement.selectAll('.cell')
                .data(data, function (d) {
                    return d.teamCode + "-" + d.year;
                });

        var cellR = Math.round(CONSTANTS.cellWidth / 2 - 1);
        selection.enter()
                .append('circle')
                .classed('cell', true)
                .attr('width', CONSTANTS.cellWidth)
                .attr('height', CONSTANTS.cellHeight)
                .attr('cx', function (d) {
                    return teamsScale(d.teamCode) + cellR + 1;
                })
                .attr('cy', function (d) {
                    return yearsScale(d.year) + cellR + 1
                })
                .attr('r', cellR)
                .attr('fill', function (d) {
                    if (d.roundIndex > 6) {
                        return CONSTANTS.colors.cells[0].color;
                    } else if (d.roundIndex == 0) {
                        return CONSTANTS.colors.cells[3].color;
                    } else if (d.roundIndex < 4) {
                        return CONSTANTS.colors.cells[2].color;
                    } else {
                        return CONSTANTS.colors.cells[1].color;
                    }
                })
                .append('title')
                .text(function (d) {
                    return d.team + ": " + d.round;
                });

        selection.transition()
                .attr('cx', function (d) {
                    return teamsScale(d.teamCode) + cellR + 1;
                })
                .attr('cy', function (d) {
                    return yearsScale(d.year) + cellR + 1
                })
    }

    function drawYears(years, numTeams) {
        var selection = yearsElement.selectAll('.year')
                .data(years, function (d) {
                    return d.year
                });

        var gs = selection.enter()
                .append('g')
                .attr('class', 'year')
                .attr('transform', function (d) {
                    var y = yearsScale(d.year);
                    var x = 0;

                    return "translate(" + x + "," + y + ")";
                });

        var dx = CONSTANTS.headerWidth - 5;
        var dy = CONSTANTS.cellHeight / 2 + 4;
        gs.append('text')
                .text(function (d) {
                    return d.year;
                })
                .attr('dx', dx)
                .attr('dy', dy)
                .attr('text-anchor', 'end');

        var yearLines = yearsElement.selectAll('.year-line')
                .data(years, function (d) {
                    return d.year;
                });

        var lineWidth = CONSTANTS.headerWidth + numTeams * CONSTANTS.cellWidth;


        yearLines.enter()
                .append('line')
                .classed('year-line', true)
                .attr('y1', function (d) {
                    return yearsScale(d.year);
                })
                .attr('y2', function (d) {
                    return yearsScale(d.year);
                })
                .attr('x1', 0)
                .attr('x2', lineWidth)
                .attr('stroke', CONSTANTS.colors.gridLine)
                .attr('stroke-width', '1');

        var borders = yearsElement.selectAll('line.border')
                .data([0, CONSTANTS.headerHeight + years.length * CONSTANTS.cellHeight]);

        borders.enter()
                .append('line')
                .attr('y1', function (d) {
                    return d;
                })
                .attr('y2', function (d) {
                    return d;
                })
                .attr('x1', 0)
                .attr('x2', lineWidth)
                .attr('stroke', CONSTANTS.colors.gridLine)
                .attr('stroke-width', '1');
    }

    function drawTeams(teams, numYears) {
        var selection = teamsElement.selectAll('.team')
                .data(teams, function (d) {
                    return d.teamCode
                });

        var gs = selection.enter()
                .append('g')
                .attr('class', 'team')
                .attr('transform', function (d) {
                    var x = teamsScale(d.teamCode);
                    var y = 0;

                    return "translate(" + x + "," + y + ")";
                });

        var dx = CONSTANTS.headerWidth - 5;
        var dy = CONSTANTS.cellHeight / 2 + 4;
        gs.append('text')
                .text(function (d) {
                    return d.team;
                })
                .attr('transform', 'rotate(-90) translate(' + (-CONSTANTS.headerHeight + 5) + ', ' + (CONSTANTS.cellWidth / 2 + 4) + ')');

        gs.append('image')
                .attr('xlink:href', function (d) {
                    return "http://img.uefa.com/imgml/flags/18x18/" + d.teamCode + ".png"
                })
                .attr('width', 18)
                .attr('height', 18)
                .attr('y', 4);

        selection.transition()
                .attr('transform', function (d) {
                    var x = teamsScale(d.teamCode);
                    var y = 0;

                    return "translate(" + x + "," + y + ")";
                });


        var teamLines = teamsElement
                .selectAll('.year-line')
                .data(teams, function (d) {
                    return d.team;
                });

        var lineHeight = CONSTANTS.headerHeight + numYears * CONSTANTS.cellHeight;
        teamLines.enter()
                .append('line')
                .classed('team-line', true)
                .attr('x1', function (d) {
                    return teamsScale(d.teamCode);
                })
                .attr('x2', function (d) {
                    return teamsScale(d.teamCode);
                })
                .attr('y1', 0)
                .attr('y2', lineHeight)
                .attr('stroke', CONSTANTS.colors.gridLine)
                .attr('stroke-width', '1');

        var borders = yearsElement.selectAll('line.border')
                .data([0, CONSTANTS.headerWidth + teams.length * CONSTANTS.cellWidth]);

        borders.enter()
                .append('line')
                .attr('x1', function (d) {
                    return d;
                })
                .attr('x2', function (d) {
                    return d;
                })
                .attr('y1', 0)
                .attr('y2', lineHeight)
                .attr('stroke', CONSTANTS.colors.gridLine)
                .attr('stroke-width', '1');
    }

    /**
     * Custom scale
     * @param domain
     * @param base
     * @param step
     * @returns {s}
     */
    function cellScale(domain, base, step) {

        function s(x) {
            return this.base + this.scale(x) * this.step;
        }

        s.base = base;
        s.step = step;
        s.scale = d3.scale.ordinal()
                .domain(domain)
                .range(d3.range(0, domain.length));

        return s.bind(s);
    }
</script>
{% include analytics.html %}
</body>
</html>