---
---
body {
  font-family: 'Lato', sans-serif;
}
#artwork {
  width: 1300px;
  margin: 1em auto;
  line {
    shape-rendering: crispEdges;
  }
}
#sort-first-year {
  margin-left: 2em;
}
#heading {
  text-align: center;
  h1 {
    font-size: 20px;
  }
}
.group-buttons {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  text-align: center;
}

.group-button {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    border-radius: 7px;
  }

  span {
    color: black;
    display: inline-block;
    padding: 7px 5px;
    width: 176px;
    text-align: center;
    transition:  all 0.2s linear;
  }
}

.legend {
  margin-bottom: 0;
  font-family: "Crimson Text", serif;
}

#content {
  margin: 2em 0 0;
  border-top: 1px solid #eee;
  padding: 1em 0 0;

  .hieule-info {
    font-style: italic;
  }

}